@media screen and (min-width: 1057px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    body{
        box-sizing: border-box;
    }

    .nav li{
        float: left;
        width: 130px;
        margin-right: 5px;
    }
    .nav ul{
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .title{
        position: absolute;
        top: 30px;
        left: 170px;
        color: aliceblue;
    }
    .description h3{
        font-size: 40px;
    }


    /* expetiyens srtart */
   
    .skill-card{
        height: 590px;
    }
    .study-card{
        height: 590px;
    }
   
}

/* 1057 */